{%- extends "templates/base.html" -%}

{%- block head -%}
    {{ super() }}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">h2{margin-top:40px}</style>
{%- endblock -%}

{%- block html_body -%}
    <div class="container">
        {%- block body -%}
        {%- endblock -%}
        
        {% block footer %}
        {% endblock %}
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18078669-6']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{%- endblock -%}