{%- extends "templates/page.html" -%}

{%- block body -%}
<div class="container">
    <div class="page-header">
        <img src="/static/logo96x96.png">
        <h1>GPS Auto-Responder privacy policy</h1>
    </div>

    <p>The app generates a unique link to find your phone/tablet from any web browser. The app will notify its user each time, when the link is used.</p>

    <p>The service does not collect any location data and discards them shortly after displaying to the user.</p>

    <p>If you don't want to be found anymore, revoke the link or/and uninstall the app.</p>

    <p>From time to time the app will renew the link validity so that the link will not expire over time. Therefore not having the device connected to the internet for more than a year may cause the link to expire.</p>

    <p>The app does not transmit any personally-identifiable information. The GPS data are transmitted only when the generated link is used.
</div>
{%- endblock -%}