{%- extends "templates/page.html" -%}

{%- block body -%}
    <div class="page-header">
        <h1>GPS Auto-Responder</h1>
    </div>
    
    
    <form action="" method="POST">
        <label class="well">
            <button type="submit" class="btn btn-primary" name="submit">
                <i class="icon-search icon-white"></i>
                Show the device on a map
            </button>
        </label>
        <p><em>Note:</em> The user of the device will receive a notification.</p>
    </form>
{%- endblock -%}


